@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 
    /* 通用無襯線字體 */
    -apple-system, BlinkMacSystemFont, /* macOS, iOS */
    'Segoe UI', /* Windows */
    Roboto, /* Android */
    Oxygen-Sans, Ubuntu, Cantarell, /* Linux 桌面環境 */
    'Helvetica Neue', sans-serif,

    /* 繁體中文字體 */
    'PingFang TC', /* macOS, iOS 繁體中文 */
    'Microsoft JhengHei', /* Windows 繁體中文 */
    'Noto Sans TC', /* 多平台支援的繁體中文 Google 字體 */
    'Source Han Sans TC', /* 思源黑體 繁體 */
    'Apple LiGothic', /* 舊版 macOS */
    'WenQuanYi Micro Hei', /* Linux */

    /* 標準的無襯線字體 */
    sans-serif;
}

@layer components {
  .input-range {
    -webkit-appearance: none;
    appearance: none;
    background-color: #858585;
    height: 2px;
    width: 100%;
    border-radius: 4px;
  }
  .input-range:focus,
  .input-range:active {
    outline: none;
  }
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
    border: 2px solid #856292;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
}
